<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PNT2022TMID26273</title>
    <meta charset="UTF-8" >
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="login-page">
      <div class="form">
        <div class="login">
          <div class="login-header">
              <h2> Welcome ..</h2>
            <h2>Phishing URl detector</h2>
            <p>Enter the URL in the box below:</p>
          </div>
        </div>
        <form action="/" method="post"   class="login-form">
          <input type="text" name = "url" placeholder="Website url"/>
          <input type="submit" value="submit" class="button">
        </form>
      </div>
    </div>
</body>
</html>